html,body{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  background-color: #f0f2f5;
}

.container{
  margin: 80px auto 0 auto;
  max-width: 80%;
}

a{
  text-decoration: none;
}